In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('breast_cancer.csv')
dataset

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
678,776715,3,1,1,1,3,2,1,1,1,2
679,841769,2,1,1,1,2,1,1,1,1,2
680,888820,5,10,10,3,7,3,8,10,2,4
681,897471,4,8,6,4,3,4,10,6,1,4
682,897471,4,8,8,5,4,5,10,4,1,4

In [7]:

X = dataset.iloc[:, 1:-1].values
y = dataset.iloc[:, -1].values

In [8]:
print(X)

[[ 5  1  1 ...  3  1  1]
 [ 5  4  4 ...  3  2  1]
 [ 3  1  1 ...  3  1  1]
 ...
 [ 5 10 10 ...  8 10  2]
 [ 4  8  6 ... 10  6  1]
 [ 4  8  8 ... 10  4  1]]

In [9]:
print(y)

[2 2 2 2 2 4 2 2 2 2 2 2 4 2 4 4 2 2 4 2 4 4 2 2 4 2 2 2 2 2 2 4 2 2 2 4 2
 4 4 4 4 4 4 2 4 2 2 4 4 4 4 4 4 4 4 4 4 4 4 2 4 4 2 4 2 4 4 2 2 4 2 4 4 2
 2 2 2 2 2 2 2 2 4 4 4 4 2 2 2 2 2 2 2 2 2 2 4 4 4 4 2 4 4 4 4 4 2 4 2 4 4
 4 2 2 2 4 2 2 2 2 4 4 4 2 4 2 4 2 2 2 4 2 2 2 2 2 2 2 2 4 2 2 4 2 2 4 2 4
 4 2 2 4 2 2 4 4 2 2 2 2 4 4 2 2 2 2 2 4 4 4 2 4 2 4 2 2 2 4 4 2 4 4 4 2 4
 4 2 2 2 2 2 2 2 2 4 4 2 2 2 4 4 2 2 2 4 4 2 4 4 4 2 2 4 2 2 4 4 4 4 2 4 4
 2 4 4 4 2 4 2 4 4 4 4 2 2 2 2 2 2 4 4 2 2 4 2 4 4 4 2 2 2 2 4 4 4 4 4 2 4
 4 4 2 4 2 4 4 2 2 2 2 4 2 2 4 4 4 4 4 2 4 4 2 2 4 4 2 2 4 4 2 4 2 4 4 2 2
 4 2 2 2 4 2 2 4 4 2 2 4 2 4 2 2 4 2 4 4 4 2 2 4 4 2 4 2 2 4 4 2 2 2 4 2 2
 2 4 4 2 2 2 4 2 2 4 4 4 4 4 4 2 2 2 2 4 4 2 2 2 2 2 2 2 2 2 2 2 2 2 4 2 2
 2 2 4 2 2 2 2 4 2 2 2 2 2 2 2 2 4 2 2 2 2 2 2 2 2 2 2 4 2 4 2 4 2 2 2 2 4
 2 2 2 4 2 4 2 2 2 2 2 2 2 4 4 2 2 2 4 2 2 2 2 2 2 2 2 4 2 2 2 4 2 4 4 4 2
 2 2 2 2 2 2 4 4 4 2 2 2 2 2 2 2 2 2 2 2 4 2 2 4 4 2 2 2 4 4 4 2 4 2 4 2 2
 2 2 2 2 2 2 2 2 2 2 4 2 2 2 2 2 2 2 4 4 2 2 2 4 2 2 4 4 2 2 2 2 2 2 4 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 4 2 2 4 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 4 2 2 4 4
 4 4 2 2 4 2 2 2 2 2 2 4 4 2 2 2 4 2 4 2 4 4 4 2 4 2 2 2 2 2 2 2 2 4 4 4 2
 2 4 2 4 4 4 2 2 2 2 2 2 2 2 2 2 2 2 4 2 2 2 2 2 2 4 2 2 4 2 2 2 2 2 2 2 2
 2 2 2 4 2 2 2 2 2 2 2 2 2 4 2 2 2 2 2 2 2 2 2 4 4 4 2 2 2 2 2 2 2 2 2 4 4
 2 2 2 2 2 2 2 2 2 4 2 2 2 2 4 4 4]

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.15, random_state = 0)

In [27]:
print(X_train)

[[10 10  6 ...  4  3  2]
 [ 4  1  1 ...  3  1  1]
 [ 1  1  1 ...  1  1  1]
 ...
 [ 1  1  1 ...  1  1  1]
 [ 3  1  1 ...  2  1  1]
 [10  9  7 ...  7  7  1]]

In [28]:
print(y_train)

[4 2 2 4 4 2 2 4 2 2 4 2 2 2 4 2 2 2 4 2 2 4 4 2 4 2 4 2 2 4 2 2 4 2 4 2 2
 2 4 2 2 2 2 4 2 4 2 4 4 2 2 2 2 4 4 2 4 4 4 4 4 4 2 2 2 2 2 2 4 4 4 2 2 2
 4 2 2 4 4 2 4 2 2 4 4 2 2 2 2 2 2 2 2 2 2 4 2 2 2 2 2 4 4 2 4 2 2 2 4 2 2
 2 2 4 4 2 2 4 4 2 2 4 4 2 4 2 4 4 2 2 2 4 2 4 2 4 2 2 2 2 2 4 2 2 4 2 2 4
 2 2 2 2 2 4 2 2 4 2 4 2 2 4 4 4 2 2 2 2 2 2 4 4 2 2 2 2 2 2 2 4 2 2 4 2 2
 2 2 2 2 2 4 2 2 2 4 4 2 4 2 2 2 4 2 2 2 4 4 2 4 2 2 4 2 2 2 2 2 2 2 4 4 4
 4 2 4 2 4 2 4 4 4 2 2 4 2 2 2 2 4 4 2 2 2 4 2 2 4 2 2 2 2 4 4 2 2 2 2 2 2
 2 2 2 2 2 4 2 4 2 2 2 2 2 2 4 4 4 4 2 2 4 2 4 2 4 2 2 2 2 4 2 4 2 2 2 2 4
 2 2 4 2 2 2 2 2 2 2 4 2 4 2 2 2 4 2 2 2 2 2 4 2 2 2 2 4 2 2 4 2 2 2 2 4 4
 2 2 2 2 4 2 2 4 2 2 2 2 4 4 2 4 2 4 2 2 2 4 4 4 2 2 2 2 2 2 2 2 4 4 2 2 2
 2 2 2 2 4 4 2 2 2 2 4 4 4 2 4 2 4 2 2 2 2 2 4 2 4 4 2 2 2 2 2 2 2 4 2 2 2
 4 2 2 4 4 4 2 4 4 4 2 2 2 4 2 4 2 2 4 2 4 4 4 2 2 2 4 2 4 4 4 2 2 2 4 2 4
 2 2 2 2 4 4 2 2 2 4 4 2 2 4 2 2 2 4 4 2 2 2 4 2 2 2 4 2 4 2 2 4 2 2 2 2 4
 4 2 2 4 4 2 2 4 4 4 2 2 4 2 2 2 2 2 4 2 4 4 2 2 2 2 4 2 2 2 2 4 2 4 2 4 2
 2 4 2 2 2 2 4 2 2 2 4 2 2 4 4 4 4 2 4 4 2 4 4 2 2 2 2 2 2 4 2 2 2 2 4 4 2
 4 4 4 2 2 4 4 2 2 2 2 2 2 4 2 2 4 2 2 4 2 2 2 2 4]

In [29]:
print(X_test)

[[ 1  1  1  1  2  5  1  1  1]
 [ 3  1  1  1  2  1  2  1  1]
 [ 5  5  5  2  5 10  4  3  1]
 [ 4  7  8  3  4 10  9  1  1]
 [ 1  1  1  1  2  1  1  1  1]
 [ 3  3  1  1  2  1  1  1  1]
 [ 5  3  1  2  2  1  2  1  1]
 [ 8 10 10 10  7  5  4  8  7]
 [ 1  1  1  3  1  3  1  1  1]
 [ 1  1  1  1  2  1  2  1  1]
 [ 8  7  5 10  7  9  5  5  4]
 [ 4  1  1  1  2  1  3  2  1]
 [10  5  6 10  6 10  7  7 10]
 [ 3  1  1  1  2  1  2  1  1]
 [ 5  1  1  6  3  1  1  1  1]
 [ 3  1  1  3  8  1  5  8  1]
 [ 9  8  8  5  6  2  4 10  4]
 [ 6 10 10  2  8 10  7  3  3]
 [ 7  6  4  8 10 10  9  5  3]
 [ 5  1  3  1  2  1  2  1  1]
 [ 3  1  1  1  2  1  2  1  1]
 [ 4  1  1  2  2  1  2  1  1]
 [ 3  4  5  2  6  8  4  1  1]
 [ 3  1  1  1  2  1  1  1  1]
 [10  4  6  4  5 10  7  1  1]
 [ 6  6  6  5  4 10  7  6  2]
 [ 5  3  1  1  2  1  1  1  1]
 [ 2  1  1  1  2  1  1  1  5]
 [ 5  1  1  1  2  1  1  1  1]
 [10  7  7  3  8  5  7  4  3]
 [ 1  1  1  1  2  1  1  1  1]
 [ 5 10 10 10 10 10 10  1  1]
 [ 8 10 10 10  5 10  8 10  6]
 [ 3  1  1  1  2  1  3  1  1]
 [ 4  1  1  1  2  1  1  1  1]
 [ 3  1  1  1  2  1  3  1  1]
 [ 3  6  6  6  5 10  6  8  3]
 [ 8  5  5  5  2 10  4  3  1]
 [ 4  1  1  1  2  1  1  1  1]
 [ 5  4  6  7  9  7  8 10  1]
 [ 3  1  1  1  2  3  3  1  1]
 [ 1  1  1  1  2  5  5  1  1]
 [ 1  2  3  1  2  1  2  1  1]
 [ 3  1  1  1  1  1  1  1  1]
 [ 1  1  1  1  2  1  1  1  1]
 [ 3  1  1  1  3  2  1  1  1]
 [ 1  2  2  1  2  1  1  1  1]
 [10  6  5  8  5 10  8  6  1]
 [ 5  1  1  3  2  1  1  1  1]
 [ 5  1  1  1  2  1  1  1  1]
 [10 10  9  3  7  5  3  5  1]
 [ 4  2  2  1  2  1  2  1  1]
 [10  3  6  2  3  5  4 10  2]
 [ 5  1  1  2  1  1  2  1  1]
 [ 5  1  3  1  2  1  2  1  1]
 [ 3  1  1  2  3  4  1  1  1]
 [10  4  4 10  2 10  5  3  3]
 [ 5  4  4  5  7 10  3  2  1]
 [ 5  2  2  2  2  2  3  2  2]
 [10  8 10  1  3 10  5  1  1]
 [ 1  1  1  1  2  1  3  1  1]
 [ 1  1  1  1  2  2  1  1  1]
 [ 2  1  1  1  2  1  3  1  1]
 [ 3  1  1  1  2  1  1  1  1]
 [ 3  1  1  1  2  1  3  1  1]
 [ 1  1  1  1  2  1  3  1  1]
 [ 1  1  1  1  2  1  3  1  1]
 [ 3  1  1  1  2  1  3  1  1]
 [ 5  4  4  9  2 10  5  6  1]
 [ 9  5  8  1  2  3  2  1  5]
 [ 1  1  2  1  2  1  2  1  1]
 [ 3  1  1  1  2  1  2  1  1]
 [ 1  1  1  1  2  1  2  1  1]
 [ 5  1  1  1  1  1  1  1  1]
 [ 5  2  2  2  3  1  1  3  1]
 [ 4  1  1  1  2  1  3  1  1]
 [10  5  5  6  8  8  7  1  1]
 [ 4  1  1  1  2  1  1  1  1]
 [ 3  1  1  1  2  1  2  1  1]
 [ 1  1  1  1  2  1  2  1  1]
 [ 5 10 10 10  6 10  6  5  2]
 [ 4  1  1  3  2  1  1  1  1]
 [10  4  3 10  3 10  7  1  2]
 [ 1  1  1  1  2  1  3  1  1]
 [ 1  1  1  1  2  1  1  1  1]
 [ 6 10 10 10 10 10  8 10 10]
 [ 6  1  3  2  2  1  1  1  1]
 [ 5  3  4  3  4  5  4  7  1]
 [10  5  8 10  3 10  5  1  3]
 [ 5  3  4  1  4  1  3  1  1]
 [10  7  7  6  4 10  4  1  2]
 [ 3  1  1  1  1  1  2  1  1]
 [10  4  7  2  2  8  6  1  1]
 [ 8  2  4  1  5  1  5  4  4]
 [ 5  3  3  4  2  4  3  4  1]
 [ 3  4  5  3  7  3  4  6  1]
 [ 5  8  9  4  3 10  7  1  1]
 [ 6 10 10  2  8 10  7  3  3]
 [ 7  3  4  4  3  3  3  2  7]
 [ 5  1  1  1  2  1  3  1  1]
 [ 6  1  1  1  2  1  2  1  1]
 [ 1  1  1  2  2  1  3  1  1]
 [10  6  6  2  4 10  9  7  1]]

In [30]:
print(y_test)

[2 2 4 4 2 2 2 4 2 2 4 2 4 2 2 2 4 4 4 2 2 2 4 2 4 4 2 2 2 4 2 4 4 2 2 2 4
 4 2 4 2 2 2 2 2 2 2 4 2 2 4 2 4 2 2 2 4 2 2 4 2 2 2 2 2 2 2 2 4 4 2 2 2 2
 2 2 4 2 2 2 4 2 4 2 2 4 2 2 4 2 4 2 4 4 4 2 4 4 4 2 2 2 4]

In [31]:
from sklearn.linear_model import LogisticRegression
classifier= LogisticRegression(random_state = 0)
classifier.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [32]:
y_pred=classifier.predict(X_test)

In [33]:
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[2 2]
 [2 2]
 [4 4]
 [4 4]
 [2 2]
 [2 2]
 [2 2]
 [4 4]
 [2 2]
 [2 2]
 [4 4]
 [2 2]
 [4 4]
 [2 2]
 [2 2]
 [2 2]
 [4 4]
 [4 4]
 [4 4]
 [2 2]
 [2 2]
 [2 2]
 [4 4]
 [2 2]
 [4 4]
 [4 4]
 [2 2]
 [2 2]
 [2 2]
 [4 4]
 [2 2]
 [4 4]
 [4 4]
 [2 2]
 [2 2]
 [2 2]
 [4 4]
 [4 4]
 [2 2]
 [4 4]
 [2 2]
 [2 2]
 [2 2]
 [2 2]
 [2 2]
 [2 2]
 [2 2]
 [4 4]
 [2 2]
 [2 2]
 [4 4]
 [2 2]
 [4 4]
 [2 2]
 [2 2]
 [2 2]
 [4 4]
 [4 2]
 [2 2]
 [4 4]
 [2 2]
 [2 2]
 [2 2]
 [2 2]
 [2 2]
 [2 2]
 [2 2]
 [2 2]
 [4 4]
 [4 4]
 [2 2]
 [2 2]
 [2 2]
 [2 2]
 [2 2]
 [2 2]
 [4 4]
 [2 2]
 [2 2]
 [2 2]
 [4 4]
 [2 2]
 [4 4]
 [2 2]
 [2 2]
 [4 4]
 [2 2]
 [4 2]
 [4 4]
 [2 2]
 [4 4]
 [2 2]
 [4 4]
 [4 4]
 [2 4]
 [4 2]
 [4 4]
 [4 4]
 [4 4]
 [2 2]
 [2 2]
 [2 2]
 [4 4]]

In [42]:
print(classifier.predict([[8,10,6,4,7,3,7,9,2]]))

[4]

In [35]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[63  3]
 [ 1 36]]

In [36]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.9611650485436893